# Ignore everything by default
*

# DevPod working dir
!.devpod-internal
!.devpod-internal/**

# Pre-built JVM artifacts used by backend/Dockerfile
!target/*-runner
!target/*-runner.jar
!target/lib/*
!target/quarkus-app/*

# Source needed by Dockerfile
!backend
!backend/**
!openapi
!openapi/**
!frontend
!frontend/**
!package.json

# Except local build output,
# not needed for a from-source build
backend/target
openapi/target